body, html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #1c771c;
}

.mesa {
  border: 8px solid #8b5e3c; /* Borde de la mesa */
  border-radius: 5px;
  background-color: #1c771c; /* Color del tapete */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Sombra para dar profundidad */
  width: 1/2;  /* Ancho fijo de la mesa */
  height: 1/2; /* Alto fijo de la mesa */
  position: relative; /* Para que los elementos hijos, como indicadores o animaciones, puedan posicionarse dentro de la mesa */
}

canvas {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.border {
  position: absolute;
  height: 10px;
  background-color: transparent;
  transition: background-color 0.5s;
}

.top {
  top: 0;
  width: 100%;
}

.bottom {
  bottom: 0;
  width: 100%;
}

.left {
  left: 0;
  height: 100%;
  width: 10px;
}

.right {
  right: 0;
  height: 100%;
  width: 10px;
}

.border.active {
  background-color: white;
}